@model X.PagedList.IPagedList<LojaVirtual.Models.Cliente>
@{
    ViewData["Title"] = "Index";
    var pesquisa = Context.Request.Query["pesquisa"];
}

<h1>Clientes</h1>


@*querystring > pesquisa = 'palavraDigitada'*@

    <form method="get">

        <div class="form-group">
            <label for="pesquisa"></label>
            <input type="text" class="form-control" name="pesquisa" id="pesquisa" placeholder="Digite o nome ou e-mail do cliente">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

<br />
<br />

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}

@if (Model.Count > 0)
{

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().ID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cliente cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.ID</th>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Email</td>
                        <td>
                            @if (cliente.Situacao == "A")
                            {
                                <a asp-action="AtivarDesativar" asp-route-id="@cliente.ID" class="btn btn-danger">Desativar</a>
                            }
                            else
                            {
                                <a asp-action="AtivarDesativar" asp-route-id="@cliente.ID" class="btn btn-info">Ativar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina , pesquisa = pesquisa }))

}
else
{
    <span>Nenhum registro cadastrado!</span>
}